.Sessions {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 60px 0;
}

.hall {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.cards_container {
  display: flex;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 32%;
  border-radius: 10px;
  background: #212324;
  padding: 20px;
}

.card_middle_part {
  display: flex;
  gap: 10px;
}

.img_container img {
  border-radius: 10px;
  width: 150px;
}

.genre_time_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.genre {
  display: flex;
  flex-direction: column;
}
.time_limitation {
  height: 5vh;
  width: 150px;
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  color: #e3000b;
}

.time {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: white;
  color: #000;
}

.limitation {
  flex: 1;
  text-align: center;
}

.Sessions button {
  width: 100%;
  background-color: #e3000b;
  color: #fff;
  border: none;
  padding: 10px;
  font-weight: 600;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.Sessions button:hover {
  background-color: #fff;
  color: #e3000b;
  transition: 1.5s;
  box-shadow: rgba(255, 0, 0, 0.116) 0px 7px 29px 0px;
}

.genre {
  font-size: 1em;
  line-height: 1.6em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}
