.main {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  color:white;
}

.session_time {
  width: 100%;
  background: #e3000b;
  border-radius: 1em;
  text-align: center;
  padding: 1% 0%
}

