.main {
  width: 100%;
}

.positionContentCentr {
  width: 100%;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main h1 {
  text-align: center;
  color: white;
  font-size: 220%;
  margin: 2% 0 3% 0;
}

.main h2 {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 190%;
  margin: 2% 2%;
}

.content {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
}

.iconsAndTitleWrapper {
  width: 30%;
  display: flex;
  margin: 5% 4% 2% 20%;
}

.imageIconWrapper {
  width: 35px;
  height: 35px;
  margin-top: 1%;
}

.imageIconWrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

