.main {
  width: 100%;
}
.positionContentCentr {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main h1 {
  text-align: center;
  color: white;
  font-size: 220%;
  margin: 2% 0 3% 0;
}

.main h2 {
  color: white;
  width: 50%;
  display: flex;
  justify-content: center;
  font-size: 190%;
  margin: 2% 2%;
}

.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
