.Header {
  background: #0e0f11;
}
.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
  width: 80%;
  margin: 0 auto;
  color: #8b919b;
}

.logo a {
  color: white;
  text-decoration: none;
}
.list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.list li {
  list-style-type: none;
}

.list_item {
  text-decoration: none;
  color: #8b919b;
  font-size: 1.3em;
}

.list_item:hover {
  color: #e3000b;
  transition: 1s;
}

.acc {
  font-size: 2em;
  color: red;
}
.reclama img {
  position: absolute;
  top: 10%;
  right: 30%;
  z-index: 4;
  width: 38%;
}
.reclama img:hover {
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.8);
}
.buttonEx {
  border-radius: 200px;
  margin-left: 69.5%;
  margin-top: 4%;
  z-index: 7;
}
