* {
  margin: 0;
  padding: 0;
}

.Footer {
  padding: 20px 40px;
  background-color: #2a2a2a;
  color: white;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer_top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer_bot {
  text-align: center;
}

.container_partners {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  gap: 30px;
}

.partners_list {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 80px;
}

.networks_list {
  display: flex;
  list-style-type: none;
  align-items: center;
  font-size: 2em;
  gap: 20px;
}

.networks_list a {
  color: #fff;
}

.networks_list a:hover {
  color: #e3000b;
  transition: 1s;
}

.partners h1 {
  text-align: center;
}

.logo h1 {
  font-size: 36px;
}
