@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Roboto";

}

.slick-arrow, .slick-next {
    display: none!important;
   }

   .slick-next:before {
    display: none!important;
   }

   .slick-prev:before{
    display: none!important;
   }
   
