.Book {
  width: 90%;
  height: 95vh;
  margin: auto;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

table {
   font-size: 3em;
   border-spacing: 15px 15px; 
}

tr {
  text-align: start;
}

td {
  text-align: center;
  cursor: pointer;
}
.left_rowName {
  vertical-align: top;
  font-size: 0.4em;
  vertical-align: middle;
  padding-right: 45%;
}

.right_rowName {
  vertical-align: top;
  font-size: 0.4em;
  vertical-align:middle;
  padding-right: 15%;
}
.active {
  color: red;
  /* pointer-events: none;
  cursor: not-allowed; */

  
}



.Book_conteiner {
  text-align: center;
  position: relative;
}

.seats_numbers {
  position: relative
}

.seats_numbers p {
  position: absolute;
  font-size: 15px;
  top:10px;
  right: 20px;
}

.line {
  text-align: center;
  width: 65%;
  height:25px;
  margin-top: 10%;
  border-radius: 0 0 50% 50%;
  box-shadow: 1px -26px 20px 0px rgba(192, 4, 4, 0.6);
}

.transition {
  position: absolute;
  right: 25%;
  background-color: #e3000b;
  border-radius: 40px;
  right: 1%
}

.transition button {
  background-color: transparent;
  border: none;
  color:white;
  font-size: 1.2em;
  width: 230px;

}
