@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flexDiv {
  flex-wrap: wrap;
  display: flex;
  cursor: pointer;
}
.cinemaWrapperShadow {
  position: relative;
}

.cinemaWrapperPosition {
  width: 380px;
  height: 200px;
  padding: 25px;
  margin: 20px;
  border-radius: 12px;
  background-position: 0 0 !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.cinemaWrapperPosition:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #1c1f23;
  width: 100px;
  height: 200px;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 20px 0 0 20px;
  border-radius: 12px 0 0 12px;
}

.cinemaWrapperPosition::after {
  content: "";
  display: block;
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  left: 100px;
  z-index: 1;
  margin: 20px 0 0 20px;
  background: linear-gradient(270deg, rgba(28, 31, 35, 0) 0%, #1c1f23 100%);
}

.cinemaWrapperInformation {
  width: 100%;
  height: 100%;
  color: white;
  font-family: "Bebas Neue", cursive;
  position: absolute;
  z-index: 2;
}

.cinemaWrapperTitle {
  font-size: 30px;
  font-weight: 500;
}

.cinemaWrapperHall {
  font-size: 18px;
}

.cinemaWrapperHall span {
  color: rgb(126, 126, 126);
  margin-left: 5px;
}

.cinemaWrapperAdress {
  width:380px;
  word-wrap: break-word;
  font-size: 20px;
  margin-top: 45px;
}
